<div class="container text-center mx-auto border my-4 py-3" style="width: 400px">
  <h2>パスワードを忘れた場合</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html:{class:'form_signin'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field py-2">
    <!--<%= f.label :email %>--><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class=>"form-control", :placeholder=>"メールアドレス"%>
  </div>

  <div class="actions py-2">
    <%= f.submit "パスワードをリセットする" , :class=> "btn btn-lg btn-primary btn-block"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
